#SuccessContainer{
    background-color: #0ea3b3da;
    width: 200px;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #FFFCF9;
    font-weight: 700;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(31rem, -14rem);
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#SuccessContainer > span {
    padding: 1rem;
}

#SuccessContainer > button {
    background-color: #167271;
    border: none;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    align-self: flex-end;
    color: #FFFCF9;
}

#SuccessContainer > button:hover {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 5px 15px;
}